@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: theme(fontFamily.sans);
  }
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #d1d5db; /* gray-300 */
  pointer-events: none;
  height: 0;
}
